.navigation {
  background-color: #552583;
  color: #ffffff;
  padding: 5px 0;

  .nav-list {
    display: flex;
    gap: 100px;
    justify-content: center;

    .nav-link {
      font-size: 30px;
      cursor: pointer;
      transition: all 0.2s;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: #fdba21;
      }
    }
  }
}